<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="stylesheets/global.css" />
<div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <img src="images/logo3.jpg" alt="Company">
            <h1>About Company name</h1>
            <p>
                Company: xxxxx
            </p>
            <p>
                Address: 000 xxxx xxxxx, xxx xxxx, xx, 00000, United States
            </p>
            <p>
                Phone: (000)000-0000
            </p>
            <button class="btn btn-info" ng-click="sendMail()">Send</button>
        </div><!-- /col-lg-8 -->
    </div><!-- /row -->
</div> <!-- /container -->
</div>