<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="stylesheets/global.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/moments.css" />
<div ng-app="mainApp" ng-controller='momentsCtrl'>
<div class="container">
    <form ng-submit="addPost()">
        <div class="form-group col-md-8">
            <label for="InputMessage"> Review</label>
            <textarea ng-model="title" name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
        <div class="form-group col-md-8">
            <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">Post</button>
        </div>
    </form>
</div>

<div class="container">
    <h4 class="media-heading">Review</h4>
    <div class="post-content col-md-8" ng-repeat="post in posts">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="text-right">{{post.post_author}}</div>
        </div>
        <div class="row">
            <div class="col-md-8">{{post.post_content}}</div>
        <div>
        <div class="row">
            <ul class="list-inline list-unstyled col-md-8">
                <li>
                    <span>
                    <i class="glyphicon glyphicon-calendar"></i>{{post.post_date}} {{post.post_date_time}}
                    </span>
                </li>
                <li>|</li>
            </ul>
        </div>
    </div>
</div>
</div>

