<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container" ng-controller='HeaderCtrl'>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="news">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="posts">Review</a></li>
                <li><a ui-sref="products">Products</a></li>
                <!--TODO: Add contact & Login Page -->
                <!--<li><a href="/contact">Contact Us</a></li>-->
                <li><a href ng-click="buttonLoginClick()" ng-hide="currentUser">Log In</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="currentUser">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" aria-expanded="true">{{ currentUser.user_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
