body {
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    //padding-top: 70px; 
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #428BCA;
    border-color: transparent;
}

.navbar-inverse .navbar-brand
{
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover 
{
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a 
{
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a:hover, 

.navbar-inverse .navbar-nav > li > a:focus 
{
    color: #FFFFFF;
    border-bottom: 3px solid white;
}

/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

footer {
    //margin: 0 0;
    position: fixed;
    bottom: 0;
    clear:both;
    background-color: #0088cc;
}

.ng-table 
{
    margin-top: 20px;
    border: 1px solid #000;
}

.ng-table th.text-right
{
    text-align: right;
}
.ng-table th.text-left 
{
    text-align: left;
}

.login-modal-window .modal-dialog {
  width: 425px;
}

.dropdown-toggle {
  cursor: pointer;
}

.nav .dropdown-menu a{
    color: #428BCA;
    //border-color: transparent;
}

.mt_0 { 
    margin-top:0px; 
}
.mt_5 { 
    margin-top:5px; 
}
.mt_10 { 
    margin-top:10px; 
}
.mt_15 { 
    margin-top:15px; 
}
.mt_20 { 
    margin-top:20px; 
}
.mt_25 { 
    margin-top:25px; 
}
.mt_30 { 
    margin-top:30px; 
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
