.container h4
{
    margin: 20px 0 20px 0;
}
.container .post-content
{
    //background-color: rgba(215, 212, 212, 0.88);
    margin: 5px 0 5 0;
    border-top:1px solid #d3d3de;
    //padding: 5px 0 5px 0;
}

.container .row
{
    //padding: 5px;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}